.form {
  text-align: center;
}

#list {
  text-align: center;
}

.list-top h2 {
  float: left;
}

.list-top a {
  float: right;
}

body h1 {
  text-align: center;
}

.details {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;

}

.session-notice {
  color: green;
}
