<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Music</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="music">Music List</a></li>
      <li class="active"><a href="music/new">Add Music</a></li>
    </ul>
  </section>
</nav>

<div id="list">
  <% @music.each do |music| %>
    <a href="/music/<%= music.id %>"><h4><%= music.author %></h4></a>
    <p><%= music.song_title %><p>
    <p><%= music.url %></p>
  <% end %>
</div>

