<div id="list">
  <% @music.each do |music| %>
  <a href="/music/<%= music.id %>">
    <h4><%= music.artist %></h4>
    <span><%= music.title %></span>
    <p><%= music.album %></p>
  </a>
  <% end %>
</div>
