<% if @music && @music.errors.any? %>
  <div>
    <strong>Some issues with your message, please fix them:</strong>
    <ul>
      <% @music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>

<div class="text-center">
  <h2>Add some new music to the list!</h2>

  <form class="form" method="post" action="/music">
    <div class="row">

      <div class="small-8 small-offset-2 columns">
        <label name="artist">Artist</label>
        <input type="text" name="artist" placeholder="Your favourite artist" value="<%= @music && @music.artist %>">
      </div>
    </div>

    <div class="row">
      <div class="small-8 small-offset-2 columns">
        <label name="title">Title</label>
        <input type="text" name="title" placeholder="Your favourite song" value="<%= @music && @music.title %>">
      </div>
    </div>

    <div class="row">
      <div class="small-8 small-offset-2 columns">
        <label name="album">Album</label>
        <input type="text" name="album" placeholder="Add an album of your choice" value="<%= @music && @music.album %>">
      </div>
    </div>

    <div>
      <input type="submit" value="Submit" >
    </div>
  </form>

</div>
