

<form class="form" method="post" action="/music">
 <h2>Add some new music to the list!</h2> 
  <div>
    <label name="author">Author:</label>
    <input type="text" name="author" placeholder="Your name">
  </div><br>

  <div>
    <label name="song_title">Song Title:</label>
    <input type="text" name="song_title" placeholder="Your favourite song">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>


</form>
