<form class="form" method="post" action="/profile">
  <div class="row">Log In</div>
  <div class="row">
    <div class="medium-offset-4 medium-4 columns">
      <label name="email"></label>
      <input type="text" name="email" placeholder="address@email.com">
    </div>
  </div>

  <div class="row">
    <div class="medium-offset-4 medium-4 columns">
      <label name="password"></label>
      <input type="password" name="password" placeholder="Password">
    </div>
  </div>

   <div>
    <input type="submit" value="Log In">
  </div>
</form>
