<p class="session-notice"><%= session[:notice] %></p>
<div class ="row">
  <div class="text-center">
    <table>
      <thead>
        <td col="2">Your Information</td>
        <td></td>
      </thead>
      <tbody>
        <tr>
          <td>Email</td>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><%= current_user.password%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
