<form class="form" method="POST" action="/signup">
  <div class="row">Sign Up</div>
  <div class="row">
    <div class="medium-offset-4 medium-4 columns">
      <label name="email"></label>
      <input type="email" name="email" placeholder="address@email.com">
    </div>
  </div>

  <div class="row">
    <div class="medium-offset-4 medium-4 columns">
      <label name="password"></label>
      <input type="password" name="password" placeholder="Password">
    </div>
  </div>

   <div>
    <input type="submit" value="Sign Up">
  </div>
</form>
